.menu {
  background: linear-gradient(to right, var(--light-color), var(--main-color));
  padding: 0 5%;
  position: relative;
  z-index: 3;
}

.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menu ul li {
  padding: 10px;
  position: relative;
}

.menu ul li a {
  color: var(--dark-color);
  font-family: "Sarabun", sans-serif;
  text-decoration: none;
  font-size: 15px;
  transition: all 0.5s ease-in-out;
  align-items: center;
  white-space: nowrap;
  font-weight: bold;
}

.menu ul li a:hover {
  color: var(--main-color);
}

.dropdown-menu {
  display: none;
  width: 200px;
}

.menu ul li:hover .dropdown-menu {
  display: block;
  left: 0;
  top: 100%;
  background-color: var(--light-color);
  z-index: 1;
}

.dropdown-menu ul {
  display: block;
  padding: 0;
}

.dropdown-menu ul li {
  display: block;
}
.dropdown-menu ul li a:hover {
  color: var(--main-color);
}

@media screen and (min-width: 768px) {
  .menu ul li a {
    font-size: 25px;
  }
  .dropdown-menu {
    width: 300px;
  }
}
