@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Sarabun:wght@200&display=swap");
:root {
  /* Couleurs Principales */
  --main-color: #695873;
  --dark-color: #1f0c2b;
  --light-color: #e1d9e9;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
}
.titles {
  color: var(--dark-color);
  font-family: "Sarabun", sans-serif;
}
.arrow {
  width: 80px;
}
